Media Bazaar/Media Bazaar/.vs/Media Bazaar/v16/.suo
Media Bazaar/Media Bazaar/Media Bazaar/bin/Debug/Media Bazaar.exe
Media Bazaar/Media Bazaar/Media Bazaar/bin/Debug/Media Bazaar.pdb
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.csproj.GenerateResource.cache
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.csprojAssemblyReference.cache
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.exe
Scanner/Check in-out/.vs/Check in-out/v16/.suo
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.pdb
Scanner/Check in-out/Check in-out/bin/Debug/AForge.dll
Scanner/Check in-out/Check in-out/bin/Debug/AForge.Video.DirectShow.dll
Scanner/Check in-out/Check in-out/bin/Debug/AForge.Video.DirectShow.xml
Scanner/Check in-out/Check in-out/bin/Debug/AForge.Video.dll
Scanner/Check in-out/Check in-out/bin/Debug/AForge.Video.xml
Scanner/Check in-out/Check in-out/bin/Debug/AForge.xml
Scanner/Check in-out/Check in-out/bin/Debug/BouncyCastle.Crypto.dll
Scanner/Check in-out/Check in-out/bin/Debug/Check in-out.exe
Scanner/Check in-out/Check in-out/bin/Debug/Check in-out.exe.config
Scanner/Check in-out/Check in-out/bin/Debug/Check in-out.pdb
Scanner/Check in-out/Check in-out/bin/Debug/Google.Protobuf.dll
Scanner/Check in-out/Check in-out/bin/Debug/Google.Protobuf.pdb
Scanner/Check in-out/Check in-out/bin/Debug/Google.Protobuf.xml
Scanner/Check in-out/Check in-out/bin/Debug/K4os.Compression.LZ4.dll
Scanner/Check in-out/Check in-out/bin/Debug/K4os.Compression.LZ4.Streams.dll
Scanner/Check in-out/Check in-out/bin/Debug/K4os.Compression.LZ4.Streams.xml
Scanner/Check in-out/Check in-out/bin/Debug/K4os.Compression.LZ4.xml
Scanner/Check in-out/Check in-out/bin/Debug/K4os.Hash.xxHash.dll
Scanner/Check in-out/Check in-out/bin/Debug/K4os.Hash.xxHash.xml
Scanner/Check in-out/Check in-out/bin/Debug/MySql.Data.dll
Scanner/Check in-out/Check in-out/bin/Debug/MySql.Data.xml
Scanner/Check in-out/Check in-out/bin/Debug/System.Buffers.dll
Scanner/Check in-out/Check in-out/bin/Debug/System.Buffers.xml
Scanner/Check in-out/Check in-out/bin/Debug/System.Memory.dll
Scanner/Check in-out/Check in-out/bin/Debug/System.Memory.xml
Scanner/Check in-out/Check in-out/bin/Debug/System.Numerics.Vectors.dll
Scanner/Check in-out/Check in-out/bin/Debug/System.Numerics.Vectors.xml
Scanner/Check in-out/Check in-out/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
Scanner/Check in-out/Check in-out/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
Scanner/Check in-out/Check in-out/bin/Debug/Ubiety.Dns.Core.dll
Scanner/Check in-out/Check in-out/bin/Debug/Zstandard.Net.dll
Scanner/Check in-out/Check in-out/bin/Debug/zxing.dll
Scanner/Check in-out/Check in-out/bin/Debug/zxing.presentation.dll
Scanner/Check in-out/Check in-out/bin/Debug/zxing.presentation.xml
Scanner/Check in-out/Check in-out/bin/Debug/zxing.xml
Scanner/Check in-out/Check in-out/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Scanner/Check in-out/Check in-out/obj/Debug/Check in-out.csproj.CopyComplete
Scanner/Check in-out/Check in-out/obj/Debug/Check in-out.csproj.CoreCompileInputs.cache
Scanner/Check in-out/Check in-out/obj/Debug/Check in-out.csproj.FileListAbsolute.txt
Scanner/Check in-out/Check in-out/obj/Debug/Check in-out.csproj.GenerateResource.cache
Scanner/Check in-out/Check in-out/obj/Debug/Check in-out.csprojAssemblyReference.cache
Scanner/Check in-out/Check in-out/obj/Debug/Check in-out.exe
Scanner/Check in-out/Check in-out/obj/Debug/Check in-out.pdb
Scanner/Check in-out/Check in-out/obj/Debug/Check_in_out.Form1.resources
Scanner/Check in-out/Check in-out/obj/Debug/Check_in_out.Properties.Resources.resources
Scanner/Check in-out/Check in-out/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Scanner/Check in-out/Check in-out/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Scanner/Check in-out/packages/AForge.2.2.5/.signature.p7s
Scanner/Check in-out/packages/AForge.2.2.5/AForge.2.2.5.nupkg
Scanner/Check in-out/packages/AForge.2.2.5/lib/AForge.dll
Scanner/Check in-out/packages/AForge.2.2.5/lib/AForge.xml
Scanner/Check in-out/packages/AForge.Video.2.2.5/.signature.p7s
Scanner/Check in-out/packages/AForge.Video.2.2.5/AForge.Video.2.2.5.nupkg
Scanner/Check in-out/packages/AForge.Video.2.2.5/lib/AForge.Video.dll
Scanner/Check in-out/packages/AForge.Video.2.2.5/lib/AForge.Video.xml
Scanner/Check in-out/packages/AForge.Video.DirectShow.2.2.5/.signature.p7s
Scanner/Check in-out/packages/AForge.Video.DirectShow.2.2.5/AForge.Video.DirectShow.2.2.5.nupkg
Scanner/Check in-out/packages/AForge.Video.DirectShow.2.2.5/lib/AForge.Video.DirectShow.dll
Scanner/Check in-out/packages/AForge.Video.DirectShow.2.2.5/lib/AForge.Video.DirectShow.xml
Scanner/Check in-out/packages/BouncyCastle.1.8.5/.signature.p7s
Scanner/Check in-out/packages/BouncyCastle.1.8.5/BouncyCastle.1.8.5.nupkg
Scanner/Check in-out/packages/BouncyCastle.1.8.5/README.md
Scanner/Check in-out/packages/BouncyCastle.1.8.5/lib/BouncyCastle.Crypto.dll
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/.signature.p7s
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/Google.Protobuf.3.14.0.nupkg
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/lib/net45/Google.Protobuf.dll
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/lib/net45/Google.Protobuf.pdb
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/lib/net45/Google.Protobuf.xml
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/lib/netstandard1.1/Google.Protobuf.dll
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/lib/netstandard1.1/Google.Protobuf.pdb
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/lib/netstandard1.1/Google.Protobuf.xml
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/lib/netstandard2.0/Google.Protobuf.dll
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/lib/netstandard2.0/Google.Protobuf.pdb
Scanner/Check in-out/packages/Google.Protobuf.3.14.0/lib/netstandard2.0/Google.Protobuf.xml
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/.signature.p7s
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/K4os.Compression.LZ4.1.1.11.nupkg
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/lib/net45/K4os.Compression.LZ4.dll
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/lib/net45/K4os.Compression.LZ4.xml
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/lib/net46/K4os.Compression.LZ4.dll
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/lib/net46/K4os.Compression.LZ4.xml
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/lib/netstandard1.6/K4os.Compression.LZ4.dll
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/lib/netstandard1.6/K4os.Compression.LZ4.xml
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/lib/netstandard2.0/K4os.Compression.LZ4.dll
Scanner/Check in-out/packages/K4os.Compression.LZ4.1.1.11/lib/netstandard2.0/K4os.Compression.LZ4.xml
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/.signature.p7s
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/K4os.Compression.LZ4.Streams.1.1.11.nupkg
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/lib/net45/K4os.Compression.LZ4.Streams.dll
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/lib/net45/K4os.Compression.LZ4.Streams.xml
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/lib/net46/K4os.Compression.LZ4.Streams.dll
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/lib/net46/K4os.Compression.LZ4.Streams.xml
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/lib/netstandard1.6/K4os.Compression.LZ4.Streams.dll
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/lib/netstandard1.6/K4os.Compression.LZ4.Streams.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/wp8/zxing.wp8.0.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/wp8/zxing.wp8.0.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/windows8-managed/zxing.winrt.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/windows8-managed/zxing.winrt.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/windows8/zxing.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/windows8/zxing.winmd
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/windows8/zxing.pri
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/uap10/zxing.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/uap10/zxing.pri
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/uap10/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/sl5/zxing.sl5.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/sl5/zxing.sl5.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/sl4-wp71/zxing.wp7.1.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/sl4-wp71/zxing.wp7.1.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/sl4/zxing.sl4.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/sl4/zxing.sl4.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/sl3-wp/zxing.wp7.0.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/sl3-wp/zxing.wp7.0.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/portable-win+net40+sl4+sl5+wp7+wp71+wp8/zxing.portable.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/portable-win+net40+sl4+sl5+wp7+wp71+wp8/zxing.portable.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard2.1/zxing.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard2.1/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard2.0/zxing.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard2.0/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard1.3/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard1.1/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard1.3/zxing.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard1.1/zxing.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard1.0/zxing.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netstandard1.0/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netcoreapp3.1/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netcoreapp3.0/zxing.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netcoreapp3.1/zxing.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net48/zxing.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net48/zxing.presentation.dll
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/lib/netstandard2.0/K4os.Compression.LZ4.Streams.dll
Scanner/Check in-out/packages/K4os.Compression.LZ4.Streams.1.1.11/lib/netstandard2.0/K4os.Compression.LZ4.Streams.xml
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/.signature.p7s
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/K4os.Hash.xxHash.1.0.6.nupkg
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/lib/net45/K4os.Hash.xxHash.dll
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/lib/net45/K4os.Hash.xxHash.xml
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/lib/net46/K4os.Hash.xxHash.dll
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/lib/net46/K4os.Hash.xxHash.xml
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/lib/netstandard1.6/K4os.Hash.xxHash.dll
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/lib/netstandard1.6/K4os.Hash.xxHash.xml
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/lib/netstandard2.0/K4os.Hash.xxHash.dll
Scanner/Check in-out/packages/K4os.Hash.xxHash.1.0.6/lib/netstandard2.0/K4os.Hash.xxHash.xml
Scanner/Check in-out/packages/MySql.Data.8.0.25/.signature.p7s
Scanner/Check in-out/packages/MySql.Data.8.0.25/MySql.Data.8.0.25.nupkg
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net452/MySql.Data.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net452/MySql.Data.xml
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net452/Ubiety.Dns.Core.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net452/Zstandard.Net.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net48/MySql.Data.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net48/MySql.Data.xml
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net48/Ubiety.Dns.Core.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net48/Zstandard.Net.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net5.0/MySql.Data.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net5.0/MySql.Data.xml
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net5.0/Ubiety.Dns.Core.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/net5.0/Zstandard.Net.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/netstandard2.0/MySql.Data.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/netstandard2.0/MySql.Data.xml
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/netstandard2.0/Ubiety.Dns.Core.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/netstandard2.0/Zstandard.Net.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/netstandard2.1/MySql.Data.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/netstandard2.1/MySql.Data.xml
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/netstandard2.1/Ubiety.Dns.Core.dll
Scanner/Check in-out/packages/MySql.Data.8.0.25/lib/netstandard2.1/Zstandard.Net.dll
Scanner/Check in-out/packages/System.Buffers.4.5.1/.signature.p7s
Scanner/Check in-out/packages/System.Buffers.4.5.1/LICENSE.TXT
Scanner/Check in-out/packages/System.Buffers.4.5.1/System.Buffers.4.5.1.nupkg
Scanner/Check in-out/packages/System.Buffers.4.5.1/THIRD-PARTY-NOTICES.TXT
Scanner/Check in-out/packages/System.Buffers.4.5.1/useSharedDesignerContext.txt
Scanner/Check in-out/packages/System.Buffers.4.5.1/version.txt
Scanner/Check in-out/packages/System.Buffers.4.5.1/lib/net461/System.Buffers.dll
Scanner/Check in-out/packages/System.Buffers.4.5.1/lib/net461/System.Buffers.xml
Scanner/Check in-out/packages/System.Buffers.4.5.1/lib/netcoreapp2.0/_._
Scanner/Check in-out/packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.dll
Scanner/Check in-out/packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.xml
Scanner/Check in-out/packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.dll
Scanner/Check in-out/packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.xml
Scanner/Check in-out/packages/System.Buffers.4.5.1/lib/uap10.0.16299/_._
Scanner/Check in-out/packages/System.Buffers.4.5.1/ref/net45/System.Buffers.dll
Scanner/Check in-out/packages/System.Buffers.4.5.1/ref/net45/System.Buffers.xml
Scanner/Check in-out/packages/System.Buffers.4.5.1/ref/netcoreapp2.0/_._
Scanner/Check in-out/packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.dll
Scanner/Check in-out/packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.xml
Scanner/Check in-out/packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.dll
Scanner/Check in-out/packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.xml
Scanner/Check in-out/packages/System.Buffers.4.5.1/ref/uap10.0.16299/_._
Scanner/Check in-out/packages/System.Memory.4.5.3/.signature.p7s
Scanner/Check in-out/packages/System.Memory.4.5.3/LICENSE.TXT
Scanner/Check in-out/packages/System.Memory.4.5.3/System.Memory.4.5.3.nupkg
Scanner/Check in-out/packages/System.Memory.4.5.3/THIRD-PARTY-NOTICES.TXT
Scanner/Check in-out/packages/System.Memory.4.5.3/useSharedDesignerContext.txt
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/netcoreapp3.0/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net48/zxing.presentation.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net48/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net47/zxing.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net47/zxing.presentation.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net47/zxing.presentation.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net47/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net461/zxing.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net461/zxing.presentation.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net461/zxing.presentation.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net461/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net45/zxing.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net45/zxing.presentation.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net45/zxing.presentation.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net45/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net40/zxing.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net40/zxing.presentation.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net40/zxing.presentation.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net40/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net35-cf/zxing.ce3.5.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net35-cf/zxing.ce3.5.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net35/zxing.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net35/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net20-cf/zxing.ce2.0.xml
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net20-cf/zxing.ce2.0.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net20/zxing.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/net20/zxing.dll
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/native/zxing.XML
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/native/zxing.winmd
Scanner/Check in-out/packages/ZXing.Net.0.16.6/lib/native/zxing.pri
Scanner/Check in-out/packages/ZXing.Net.0.16.6/ZXing.Net.0.16.6.nupkg
Scanner/Check in-out/packages/ZXing.Net.0.16.6/.signature.p7s
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/version.txt
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/useSharedDesignerContext.txt
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/THIRD-PARTY-NOTICES.TXT
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/LICENSE.TXT
Scanner/Check in-out/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.signature.p7s
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/xamarinwatchos10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/xamarintvos10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/xamarinmac20/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/xamarinios10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.xml
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/netstandard2.0/System.Numerics.Vectors.dll
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.xml
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/netstandard1.0/System.Numerics.Vectors.dll
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/netcoreapp2.0/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.xml
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/net46/System.Numerics.Vectors.dll
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/MonoTouch10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/ref/MonoAndroid10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/xamarinwatchos10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/xamarintvos10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/xamarinmac20/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/xamarinios10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.xml
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/portable-net45+win8+wp8+wpa81/System.Numerics.Vectors.dll
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.xml
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/netstandard2.0/System.Numerics.Vectors.dll
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.xml
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/netstandard1.0/System.Numerics.Vectors.dll
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/netcoreapp2.0/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.xml
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/net46/System.Numerics.Vectors.dll
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/MonoTouch10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/lib/MonoAndroid10/_._
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/version.txt
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/useSharedDesignerContext.txt
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/THIRD-PARTY-NOTICES.TXT
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/System.Numerics.Vectors.4.4.0.nupkg
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/LICENSE.TXT
Scanner/Check in-out/packages/System.Numerics.Vectors.4.4.0/.signature.p7s
Scanner/Check in-out/packages/System.Memory.4.5.3/ref/netcoreapp2.1/_._
Scanner/Check in-out/packages/System.Memory.4.5.3/lib/netstandard2.0/System.Memory.dll
Scanner/Check in-out/packages/System.Memory.4.5.3/lib/netstandard2.0/System.Memory.xml
Scanner/Check in-out/packages/System.Memory.4.5.3/lib/netstandard1.1/System.Memory.xml
Scanner/Check in-out/packages/System.Memory.4.5.3/lib/netstandard1.1/System.Memory.dll
Scanner/Check in-out/packages/System.Memory.4.5.3/lib/netcoreapp2.1/_._
Scanner/Check in-out/packages/System.Memory.4.5.3/version.txt
Scanner/Check in-out/Check in-out/Properties/Settings.settings
Media Bazaar/Media Bazaar/.vs/Media Bazaar/v16/.suo~cfb513652ff92dcdfad3c317634a479e2de5453b
Media Bazaar/Media Bazaar/Media Bazaar/bin/Debug/Media Bazaar.exe~cfb513652ff92dcdfad3c317634a479e2de5453b
Media Bazaar/Media Bazaar/Media Bazaar/bin/Debug/Media Bazaar.pdb~cfb513652ff92dcdfad3c317634a479e2de5453b
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/DesignTimeResolveAssemblyReferences.cache~cfb513652ff92dcdfad3c317634a479e2de5453b
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.csproj.GenerateResource.cache~cfb513652ff92dcdfad3c317634a479e2de5453b
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.csprojAssemblyReference.cache~cfb513652ff92dcdfad3c317634a479e2de5453b
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.exe~cfb513652ff92dcdfad3c317634a479e2de5453b
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.pdb~cfb513652ff92dcdfad3c317634a479e2de5453b
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.csproj.CoreCompileInputs.cache
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.csproj.CoreCompileInputs.cache~257246fa08d370e10ff5d50e39537f8e318a1893
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Media Bazaar/Media Bazaar/Media Bazaar/obj/Debug/Media Bazaar.csproj.FileListAbsolute.txt
